<html>
    <title>Join dotnet core dev</title>
<body>

<h1>Hello from ASP.NET Core MVC!</h1> 
<h1>Love dotnet , enjoy life!!!</h1>
<br/><br/>
<div>Friends:<a href="http://deadlang.net/">[.Net is a Dead Language]</a></div>
<br/><br/>
Power by <a href="http://dotnet.github.io/">dotnet core</a>
Run on <a href="https://affiliates.host1plus.com/ref/kotcmm.html">host1plus</a>
</body>
</html>
